# \<Python for Data Analysis\>

## This Notebook includs following aspects about Python application in Data science by using Numpy, Pandas, and other Python modules:
> Important Knowledges of What, Why and How
>
> Practice with examles
>
> My summary

##  Python packages required for data analysis

### Based on the terminal, intsall the packages with conda
- On macOS terminal:
> `conda config --add channels conda-forge`
> 
> `conda config --set channel-priority strick`
>
> `conda install --changes conda-forge pandas` ## install package pandas

  
> import pandas as pd
> 
> import numpy as np
> 
> import seaborn as sns
> 
> import matpltlib.pyplopt as plt
> 
> import scipy as sp
> 
> import sklearn
>
> import statsmodels as sm

In [27]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as scp
import sklearn
import statsmodels as sm

print('pandas version:', pd.__version__)
print('numpy version:', np.__version__)
print('scipy version:', scp.__version__)
print('scikit-learn version:', sklearn.__version__)
print('statsmodels version:', sm.__version__)

os.getcwd()

pandas version: 2.2.2
numpy version: 1.24.3
scipy version: 1.11.4
scikit-learn version: 1.3.0
statsmodels version: 0.14.0

'/Users/ruichaowang/GitHub/rcwang.github.io/Python_for_MLDL'

## Start using Python
- We can type `python` in the terminal, enter the python interpreter, then type in python codes like `print('data science')` then press the return will get the output.
- Also, we can write a python script save it as `example.py`, and run it with `python example.py`.
- we can also use `ipython`, then we can display the input code and output line by line
- Last but not least, we can use `Jupyter`, which is the very popular application for python and data science
- To start Jupyter Notebook, run `jupyter notebook` in a terminal

In [28]:
## for example to use Jupyter:
import numpy as np

a = 5
print(a)

# generate 7 random numbers following normal distribution
data = [np.random.standard_normal() for i in range(7)]
print(data)

5
[0.9894832104188699, -2.018668474040232, -3.1691015820407116, -0.37122840631950516, -0.08812759711177834, -0.03663158632423939, -0.2982782527603676]

In [29]:
## Using Introspection '?', which is very useful for looking help. Becasue it will show the Docs of an object, like a function, 
b = ["1", 2, 'abc']
b?
print?

## If we are uncertain of certain key word we can us ** to match, like
# will show the function or attribute including keyword load
np.*load*?

np.__loader__
np.load
np.loadtxt

## Python Language semantics
    
- Indentation matters for **loops**, **functions**, **class**. For spaces used by default for Jupyter when start a new line after colon. No big bracs used for loops and defining fuctions.
- Everything python is considered as object with certain types. Each object has **attribute**, **methods** and **values**.
- Of cause, we can comment at every where, just start with a has mark **#**, and then write comments after it.
- There are many default functions or methods attached to object, to call method: `obj.method(x, y, z)`.
- We can also define functions and call fuctions, for example: `def f(x, y, z): ...` `f(x=a, y=b, y=z)`
- For mutable object, if we want to get a copy of this object, we better use the method `a.copy()`

In [30]:
### Examples
def less_greater(array, pivot): ## define a function
    """
    Aim: 
    To separete an array into two parts according to the given pivot. 
    The values of one parts all small then pivot, and the rest in the other part
    
    Paraters:
    array, the array that going to be splie
    pivot, used as point for spliting
    """
    less = [] # initialize an empety list
    greater = []

    for x in array: # looping values in array
        if x < pivot: # branching the pipeline with if .. else
            less.append(x) # used 'append' method attached to list
        else:
            greater.append(x)
    
    return less, greater # return values for the function

## build and assign values to objects
a_array, a_pivot = [1, 2, 8, 9, 5, 2, 3, 4], 3 
## call the function and accept the return values
less, greater = less_greater(array=a_array, pivot=a_pivot) 
## print with format method
print(f'The values smaller then {a_pivot} in {a_array} is here: {less}') 
print(f'The values greater then {a_pivot} in {a_array} is here: {greater}') 

## Assign values to variable
a = 2
print(a)
b = a # get a copy
a = 3
print(b)

a = [1, 2, 3]
b = a.copy() 
a = [1, 2, 3, 4]
print(b)  # Output: [1, 2, 3]

The values smaller then 3 in [1, 2, 8, 9, 5, 2, 3, 4] is here: [1, 2, 2]
The values greater then 3 in [1, 2, 8, 9, 5, 2, 3, 4] is here: [8, 9, 5, 3, 4]
2
2
[1, 2, 3]

In [31]:
## Examples for read and modify files
def line_replace(file_handle, old, new):
    results = []
    for line in file_handle:
        # keep the empty lines
        if len(line) == 0:
            continue
        results.append(line.replace(a, b))
    return results

a, b = 'foo', 'bar'
with open('example_line_replace.txt', 'r') as file_handle:
    replace_results = line_replace(file_handle, a, b)
replace_results

['This a test file with much bar, but I want to change it to bar\n',
 'here is a bar,\n',
 'here is another bar']

## Objects and attached methods
- Everything in python is object
- Two types of object in Python: mutable and immutable
- Common data types:
    - **number**: including **int**, **float**, **complex**.
    - **bool**: including `True` and `False`.
    - **string**: including short string, multiple-line string
    - **tuple**: an immutable ordered set of values
    - **list**: a mutable ordered set of values of all possible types
    - **dict**: a hashable object, including keys and values. Keys are not mutable, but the values can be changed
    - **set**: a non-ordered set of values, can not indexing values
    - **file**

- For each object, we can handle it from the following aspect:
    - **create**: we should be able to create a object
    - **convert**: wether we can build a required type of object from other objects, and how to do that
    - **modify**: wheter we can modify the element values in the container object, and how
    - **add**: whether we can add new elements to the object, and how
    - **delete**: wheter we can delete elements, and how
    - **structure**: any requirement about the elements, can we nest it to make complex but useful objects
    - **formats**: the special symbols for the object, like `[]` is used for list, `()` for tuple
    - **operations**: can we perform operations like calculate the values, comparisons on objects
    - Last but not least **attached in-built attributes/methods**

### Examples of Objects and attached attributes methods

In [18]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

###++++++++++
# Numbers
###++++++++++

a = 123 # interger
b = 2.2415965 # float
c = 9 + 3j # complex
c
c.real
c.imag
c
a.numerator

### Operations of Numbers
a = 3.1
b = 8
b / a
b // a ## divide b with a and drop the fraction
b % a ## return the reminder of a divide b
b * a
b ** a
b + a
b - a

a == b ## comparing values
a != b
a is b ## check whether a and b refer to the same object
a is not b
b > a
b <= a

(9+3j)

9.0

3.0

(9+3j)

123

2.5806451612903225

2.0

1.7999999999999998

24.8

630.3459396325973

11.1

4.9

False

True

False

True

True

False

In [36]:
###++++
# Bool
###++++

True 
False

True and False
True or False
not True

True & False
True | False
!True
!False

a = 1; b = 2; a > b
a_str = 'hello, python'
c = 'z'
print(c in a_str)

a = 0
b = 10
c = -1
d = ''
d1 = {}
e = 'hello'
bool(a)
bool(b)
bool(c)
bool(d)
bool(d1)
bool(e)
bool(a and b)
bool(c or d)

# The `bool()` function will return 'False' if the object is Zero of any numerical type 
# or any empty sequence or collection

True

False

False

True

False

False

True

False

False

False

True

True

False

False

True

False

True

In [111]:
###++++++++
# String
###++++++++

### String is immutable, so most methdos return new strings rather then modifying 

##-----------
# Methods
##-----------

## form of lowercase or upper case
str1 = 'hello'
str1.capitalize()
str2 = 'python'
str2.upper().lower().capitalize()
str3 = 'hello, world'
str3.title()
str4 = 'hELLO, Python'
str4.swapcase()

## format
name = 'Alex'
age = 30
greetings = 'hello, i\'m {}, and I\'m {} years old'.format(name, age)
greetings2 = f'hello, i\'m {name}, and I\'m {age} years old'
greetings3 = f'hello, my name is {name.upper()}'
greetings
greetings2
greetings3

data = {"name": 'Alex', "age": 34}
"Name: {data[name]}, Age: {data[age]}".format(data=data)

PI = 3.1415926
formatPI = 'The value of pi is {:.2f}'.format(PI)
formatPI

## Search and replace, count, find, replace, all of them are case sensitive and no overlapping in the seraching
# count
str = 'Hello, ill, kill'
str.count('ll', 3, 16) # str.count(substr, start, end)
str = 'Hello, world, hello, universe'
str.count('hello') # case sensitive
text = 'aaaa'
text.count('aa') # searching will be no overlaping
# find
str.find('ll') # return the lowest index of 'll'
str.find('ll', 4, 18) # find the lowest index of 'll' in the given range
index = str.find('ello')
index
str.find('alle') # if dont find the sub str will return -1
# replace
str.replace('ello', 'alle')
str.replace('ello', 'alle', 1) # str.replace(old, new, numberOfreplace)

## Testing and comparison
str = 'Apple better than orange'
# starts with, ends with 
str.startswith('App') # True
str.startswith('App', 4, 9) # False not starts with 'App' in range 4, 9
str.endswith('nge') # True
str.endswith('e', 3, 7) # False
# isalnum, isalpha, isdigit
str = '89779907'
str.isalnum() # True, check if all the character s are number
str.isalpha() # False, check if all the elements are alphabetic
str.isdigit() # check if all are digits, digits are [0, 1, .. 9]

## Spliting and joining
# split, return a list of elements, defalut sep based on the space, can be defined with certain values 
str = 'Hello, world'
str.split()
str = '1, 2, 3, 4, 5'
str.split(sep=',')
str = '2024-01-01'
str.split(sep='-')
# join, form a string from an iterable object such as list, tuple
ls = ['hello', 'world']
str = ', '.join(ls)
str
str = '\n'.join(ls)
str
tuple = ('python', 'is', 'good')
str = ' '.join(tuple)
str
lines = ['Hello', 'World', 'Python', 'Programming']
multiline_text = '\n'.join(lines)
print(multiline_text)

## Strip, remove whitespace in a string
str = '    hello, world    '
str.strip()
str.lstrip()
str.rstrip()

## splitlines, split multiple line string into a list hold values of each line
str = ''' 
Hello,
world,
OK
'''
str.splitlines()

## encode and decode, encode string with given format like 'utf-8' 'utf-16'
str = 'hello'
str.encode('utf-16')
str = str.encode('utf-16')
str.decode('utf-16')

###----
# Normally used attributes, some are also methods applied to string
###----
str = 'hello, 123'
str.isalnum() #Checks if all characters are alphanumeric.
str.isalpha() #Checks if all characters are alphabetic.
str.isdigit() #Checks if all characters are digits.
str.islower() #Checks if all characters are lowercase.
str.isupper() #Checks if all characters are uppercase.
str.isspace() #Checks if all characters are whitespace.
str.startswith('he') #Checks if the string starts with a specified prefix.
str.endswith('3') #Checks if the string ends with a specified suffix.

## indexing
str[3]
#str[3] = 4 # TypeError: 'str' object does not support item assignment

'Hello'

'Python'

'Hello, World'

'Hello, pYTHON'

"hello, i'm Alex, and I'm 30 years old"

"hello, i'm Alex, and I'm 30 years old"

'hello, my name is ALEX'

'Name: Alex, Age: 34'

'The value of pi is 3.14'

2

1

2

2

16

1

-1

'Halle, world, halle, universe'

'Halle, world, hello, universe'

True

False

True

False

True

False

True

['Hello,', 'world']

['1', ' 2', ' 3', ' 4', ' 5']

['2024', '01', '01']

'hello, world'

'hello\nworld'

'python is good'

Hello
World
Python
Programming

'hello, world'

'hello, world    '

'    hello, world'

[' ', 'Hello,', 'world,', 'OK']

b'\xff\xfeh\x00e\x00l\x00l\x00o\x00'

'hello'

False

False

False

True

False

False

True

True

'l'

In [114]:
###++++++++
# Tuple
###++++++++

"""
Tuple is an ordered sequence of values, which is immutable. 
We can't add, remove, or modify items once the tuple is created. 
However, we can always create a new tuple with the desired modifications.
"""

tuple = (1, 2, 3)
tuple = 1, 2, 3
tuple
tuple[2]
tuple = (1, 2, 3), ('a', 'b')
tuple # nested tuple
#tuple[2] = 'o' # TypeError: 'tuple' object does not support item assignment

###---------
# Methods/Attributes on tuple
###---------
tuple0 = (1, 2, 3, 2, 4, 5)
tuple0.count(2) # count number of elements
tuple1 = ('a', 'b', 'hello', 'python', 'apple')
tuple1.index('hello') # return the index of 'hello'

tuple = (2, 3, 'apple', 'number')
len(tuple)

tuple[0]
tuple[0:3]

for item in tuple:
    print(item)

"\nTuple is an ordered sequence of values, which is immutable. \nWe can't add, remove, or modify items once the tuple is created. \nHowever, we can always create a new tuple with the desired modifications.\n"

(1, 2, 3)

3

((1, 2, 3), ('a', 'b'))

2

2

4

2

(2, 3, 'apple')

2
3
apple
number

In [149]:
###+++++
# List
###+++++

'''
List is one of the most popular object in python. It is mutable, meaning we can modify the contents of an existed list. 
Any objects could be included in a list, even list of list is acceptable by python. 
There are pretty much methods/attributes attached to List, and there are many ways to build an list
'''

a_lst = [1, 2, 'str2', 'apple', ['hello', 'world']]
b_lst = [(1, 2, 3), 'hello', 'world']
c_lst = list((1, 2, 3)) # covert a tuple to list
d_lst = list() # build a empty list
e_lst = [] # empty list
f_lst = list({1,2, 100, 99}) # conver a set to list

## Methods/Attributes attached to List

lst = [1, 2, 3, 4]
lst.append(5) # add element at the end of a list
lst

lst1 = ['a', 'b', 'c']
lst.extend(lst1) # add new list to the existed list
lst

lst.insert(2, 'hello, python') # insert element at given position
lst

lst.remove('b') # delete the element 'b'
lst

lst1 = lst.copy() # make a copy of existed list
lst1.clear() # clear all the contents in list
lst1

del lst1 # delete the object lst1
#lst1 # NameError: name 'lst1' is not defined

lst.pop() # pop the last values by default, and return the poped value
lst # 'c' is gone 
lst.pop(0) # pop the first element, and return it
lst

lst.index(4) # return the index of first occurence of specified values
lst.count(3) # return the number of specified values

lst.reverse() # reverse the list
lst

lst1 = [1, 3, 2, 5, 4, 2, 7, 6]
min(lst1)
max(lst1)
lst1.sort() # sort a list
lst1
lst1.sort(reverse=True)
lst1
sorted(lst1, reverse=True)

lst1 = ['bananannn', 'applkkke', 'cherr']
lst1.sort(key=len, reverse=False) # sort according to the given key
lst1

a, b = lst[0:2] # indexing, take values from list according to index
a, b

for x in lst: # list is iterable
    print(x)
for i, x in enumerate(lst): # enumerate, build a paired iterater object of list, (index, value)
    print(i, x)

len(lst) # the length of lits

lst1 = ['a', 'fg', 'pple']
str = '-'.join(lst1) # Join all the elements to form a string
str

lst2 = [1, 2, 5]
lst = lst1 + lst2
lst

'\nList is one of the most popular object in python. It is mutable, meaning we can modify the contents of an existed list. \nAny objects could be included in a list, even list of list is acceptable by python. \nThere are pretty much methods/attributes attached to List, and there are many ways to build an list\n'

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 'a', 'b', 'c']

[1, 2, 'hello, python', 3, 4, 5, 'a', 'b', 'c']

[1, 2, 'hello, python', 3, 4, 5, 'a', 'c']

[]

'c'

[1, 2, 'hello, python', 3, 4, 5, 'a']

1

[2, 'hello, python', 3, 4, 5, 'a']

3

1

['a', 5, 4, 3, 'hello, python', 2]

1

7

[1, 2, 2, 3, 4, 5, 6, 7]

[7, 6, 5, 4, 3, 2, 2, 1]

[7, 6, 5, 4, 3, 2, 2, 1]

['cherr', 'applkkke', 'bananannn']

('a', 5)

a
5
4
3
hello, python
2
0 a
1 5
2 4
3 3
4 hello, python
5 2

6

'a-fg-pple'

['a', 'fg', 'pple', 1, 2, 5]

In [192]:
###+++++++
# Dict
###+++++++

"""
Dictionary is a very useful object, which is mutable regarding the velues. also iterable
Basically, it has keys and corresponding values. by using the keys, we will get the values
Dictionary also can be nested, and the values could be any type of value. 
Usually, string were choosed as keys
"""
# del dict # delete the variable that using default function name 

a_dict = {'age': 32, 'name': 'alex', 'grade': 'A', 'score': 85}
a_dict
b_dict = dict()
b_dict
c_dict = {} # empty dict, also could be empty set, but usually we use set() to build an empyt set
c_dict
lst1 = ['age', 'name', 'grade', 'score']
lst2 = [32, 'alex', 'A', 85]
d_dict = dict(zip(lst1, lst2)) # dict from zip two lists of same lengeth
d_dict

e_dict = dict(age=32, name='alex', grader='A', score=85) # dict give values to keys
e_dict

f_dict = dict([('age', 32), ('name', 'alex')]) # dict from a list of paired tuple
f_dict

keys = ['age', 'name', 'grade']
values = ['defaults']
g_dict = dict.fromkeys(keys, values) # build a dict with given keys, and the values
g_dict

lst1 = ['age', 'name', 'grade', 'score']
lst2 = [32, 'alex', 'A', 85]
h_dict = {key: value for key, value in zip(lst1, lst2)} # build a dict using comprehension
h_dict


###++++
# Methods/attributes attached to 
###++++
new_dict = h_dict.copy()
new_dict.clear()
new_dict
del new_dict

my_dict = a_dict.copy()
# return the value of gven key, if the key did not existed, return given default value
value = my_dict.get('Age', 'default_values') 
value

items = my_dict.items() # return a turple of dict items, which holds all the paired keys and values
items
keys = my_dict.keys()
keys
values = my_dict.values()
values

# return the poped values of given key, if not existed return default-value
value = my_dict.pop('age', 'default_value') 

key, value = my_dict.popitem() # pop the last item

my_dict.update(h_dict) 
my_dict.update({'Year': 2024}) # update the dict with given dict or iterable object
my_dict

len(my_dict)
my_dict.__doc__
my_dict.__class__

iterator = iter(my_dict)
for item in iterator:
    print(item) 
'key' in my_dict # whether the key is in the dict object

# del str
str_dict = str(my_dict) # represent the dict in a string
str_dict

my_dict['Python'] = 'level_A' # insert a new item at the end
my_dict['Python'] = 'level_B' # will cover the existed item of same key
my_dict['Java'] = 'level_B' # items of different keys can have same values
del my_dict['grade'] # delete a item according to the key
my_dict

'\nDictionary is a very useful object, which is mutable regarding the velues. also iterable\nBasically, it has keys and corresponding values. by using the keys, we will get the values\nDictionary also can be nested, and the values could be any type of value. \nUsually, string were choosed as keys\n'

{'age': 32, 'name': 'alex', 'grade': 'A', 'score': 85}

{}

{}

{'age': 32, 'name': 'alex', 'grade': 'A', 'score': 85}

{'age': 32, 'name': 'alex', 'grader': 'A', 'score': 85}

{'age': 32, 'name': 'alex'}

{'age': ['defaults'], 'name': ['defaults'], 'grade': ['defaults']}

{'age': 32, 'name': 'alex', 'grade': 'A', 'score': 85}

{}

'default_values'

dict_items([('age', 32), ('name', 'alex'), ('grade', 'A'), ('score', 85)])

dict_keys(['age', 'name', 'grade', 'score'])

dict_values([32, 'alex', 'A', 85])

{'name': 'alex', 'grade': 'A', 'age': 32, 'score': 85, 'Year': 2024}

5

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

dict

name
grade
age
score
Year

False

"{'name': 'alex', 'grade': 'A', 'age': 32, 'score': 85, 'Year': 2024}"

{'name': 'alex',
 'age': 32,
 'score': 85,
 'Year': 2024,
 'Python': 'level_B',
 'Java': 'level_B'}

In [216]:
###+++++++
# Set
###+++++++

"""
Set in Python is similar to concept of set in Mathmatics. 
It is not ordered, just a collection of objects, and the objects in the set should be different
and we can not modify the values in a set
"""

set_1 = {1, 2, 3, 4, 89}
set_1
set_2 = set([1, 2, 2, 56, 78, 89])
set_2

##-------
# Methods and attributes
##---

set_1.add(0) #  add a element
set_1

set_2.remove(89) # remove an element
set_2

set_1.discard(0) # remove a element, if not existed will raise error
set_1

new_set = set_1.copy()
new_set.clear()
new_set # empty set

set_1.union(set_2) # union of two sets
set_1.intersection(set_2) # intersection of two sets
set_1.difference(set_2) # elements in set_1, not set_2
set_2.difference(set_1) # elements in set_2, not set_1
set_1.symmetric_difference(set_2) # elements in other set_1 or set_2, but not in both of them

set_3 = {2, 3}
set_3.issubset(set_2) # check if a set is a sunset of another set
set_2.issuperset(set_3) # check if a set is including all the elements of another set

len(set_1) # length of a set

set_2.isdisjoint(set_1) # check whether two sets have common elements. if no joint elements, return True, 

set_3.pop() # pop an elements, arbitary
set_3

set_1.update(set_2)
set_1
set_2.add('hello')
set_1.intersection_update(set_2) # use the intersection of two sets to update set
set_1.difference_update(set_2) # use the difference to update
set_1
set_1.update(set_2) # use the union to update the set
set_1

'\nSet in Python is similar to concept of set in Mathmatics. \nIt is not ordered, just a collection of objects, and the objects in the set should be different\nand we can not modify the values in a set\n'

{1, 2, 3, 4, 89}

{1, 2, 56, 78, 89}

{0, 1, 2, 3, 4, 89}

{1, 2, 56, 78}

{1, 2, 3, 4, 89}

set()

{1, 2, 3, 4, 56, 78, 89}

{1, 2}

{3, 4, 89}

{56, 78}

{3, 4, 56, 78, 89}

False

False

5

False

2

{3}

{1, 2, 3, 4, 56, 78, 89}

set()

{1, 2, 56, 78, 'hello'}

In [ ]:
###+++++++++
# Files and directory
###+++++++++

"""
Usually, we need to load data from outside for python to processing, interacting. 
Therefore, it is important to know the how to dealing with files and directory.
Even there some other Python packages like pandas can simpley load files, 
but here we would like to handle the basic operations of files with python built-in modules
"""